
*{ 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.page{
   
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('bgimage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} 

form {
    box-sizing: border-box;
    max-width:400px;
    min-width:240px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

button[type="button"] {
    background-color: #1fac6c;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0b5835;
}

p#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    padding:10px;
    text-align: center;
}

.success{
    background-color: #1fac6c;
    color:white;
}